[submodule "deep-learning-server/src"]
	path = deep-learning-server/src
	url = https://github.com/mofanv/darknet-src
[submodule "deep-learning-server/connxr"]
	path = deep-learning-server/connxr
	url = https://github.com/mofanv/cONNXr
[submodule "video-decoding/openh264"]
	path = video-decoding/openh264
	url = https://github.com/veracruz-project/openh264
	branch = veracruz
[submodule "video-decoding/openh264-dec"]
	path = video-decoding/openh264-dec
	url = https://github.com/veracruz-project/openh264-dec
	branch = veracruz
