[submodule "deep-learning-server/src"]
	path = deep-learning-server/src
	url = https://github.com/veracruz-project/darknet
	branch = veracruz
[submodule "deep-learning-server/connxr"]
	path = deep-learning-server/connxr
	url = https://github.com/veracruz-project/cONNXr
[submodule "video-object-detection"]
	path = video-object-detection
	url = https://github.com/veracruz-project/video-object-detection
	branch = main