---
apiVersion: v1
kind: Namespace
metadata:
  name: default
  labels:
    name: default
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vaas-server-app
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vaas-server-app
rules:
  - apiGroups:
      - ''
      - 'core'
      - 'discovery.k8s.io'
    resources:
      - pods
      - pods/status
      - configmaps
      - endpointslices
    verbs:
      - get
      - list
      - watch
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name:  vaas-server-app
roleRef:
  kind: ClusterRole
  name:  vaas-server-app
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name:  vaas-server-app
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaas-server-app
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      vaas-server: app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        vaas-server: app
    spec:
      containers:
      - name: vaas-server-app
        image: veracruz/veracruz-vaas-server:0.86.9
        imagePullPolicy: IfNotPresent
        env:
        - name: PROXY_ENDPOINT
          value: "veracruz-nitro-proxy:3010"
        - name: VERACRUZ_PORT_MIN
          value: "VERACRUZ_MIN_PORT_USE"
        - name: VERACRUZ_PORT_MAX
          value: "VERACRUZ_MAX_PORT_USE"
        - name: VERACRUZ_ENDPOINT_HOSTNAME
          value: "VERACRUZ_ENDPOINT_HOSTNAME_USE"
        - name: RUNTIME_HUGHEPAGES_SIZE
          value: "RUNTIME_HUGHEPAGES_SIZE_USE"
        - name: RUNTIME_POD_SIZE
          value: "RUNTIME_POD_SIZE_USE"
        - name: RUNTIME_CPU_SIZE
          value: "RUNTIME_CPU_SIZE_USE"
        - name: PROXY_CERTIFICATE
          value: |
               REPLACE_CACERT_PEM
        - name: RUNTIME_MANAGER_IMAGE
          value: "veracruz/veracruz-nitro:v1.2.0"
        - name: RUNTIME_MANAGER_HASH_NITRO
          value: RUNTIME_MANAGER_HASH_NITRO_USE
        ports:
        - containerPort: 5000
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
        resources:
          limits:
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 100Mi
      priorityClassName: system-cluster-critical
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      serviceAccountName: vaas-server-app
