args.cfg

/data/mnist/images/
/data/mnist/images_*/
/data/mnist/train-images-idx3-ubyte
/data/mnist/t10k-images-idx3-ubyte
/data/mnist/train-labels-idx1-ubyte
/data/mnist/t10k-labels-idx1-ubyte
/data/mnist/mnist.train.list
/data/mnist/mnist.valid.list

/data/labels/*.png

/predictions.jpg
/data/cifar/
/cfg/cifar.data
/cfg/vgg-7_cifar10.cfg 
/cfg/yolov3.cfg

/model/yolov3-tiny.weights
/obj/
/.vscode/
*.wasm

.DS_Store

model/mnist_lenet.backup
model/mnist_model_sum.onnx
model/mnist_lenet_sum.weights

model/tensorflow_mnist.onnx
model/pytorch_mnist.pt
model/pytorch_mnist.onnx
model/data
