/predictions.jpg
/examples/aggregation.c

/data/mnist/images/
/data/mnist/images_*/
/data/mnist/train-images-idx3-ubyte
/data/mnist/t10k-images-idx3-ubyte
/data/mnist/train-labels-idx1-ubyte
/data/mnist/t10k-labels-idx1-ubyte

/data/cifar/
/model/
/obj/
/.vscode/
*.wasm

.DS_Store

darknet
Makefile_c
Makefile_wasm
